name: MyGithubActions
on: 
  push:
    branches: 
      - main
env:
  MY_NAME:  VALERA
  MY_STATUS: "MY_STATUS"


jobs:
  my_testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Run echo and execute python script
        run: |
          echo "Hello WORLD $MY_NAME"
          python ooo.py  ooo ${{ env.MY_NAME}}

  
